{{> hirerheader}}
<title>Company</title>
<style>
    p{
        text-align: center;
        color: RED;
        font-size: 40px;

    }
</style>
<p> <strong>THIS PROFESSIONAL IS ALREADY BOOKED FOR THE DAY.</strong></p>