{{>hirerheader}}
<title>Company</title>
<style>
    body{
        background-image: url("https://suptonmclaughlin.files.wordpress.com/2013/12/chinese-company-e1387257924960.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 1100px
    }
</style>
