<title>Professional</title>   

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        .register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.btn{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    font-weight: 600;
    width: 50%;
    cursor: pointer;

}
.btn-login{
    float: center;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: white;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{{# if alreadyregistered}}
    <ul>
   
       <li>The user is already registered</li>
       </ul>
    {{/if}}

    

    {{# if success }}
    <section class="success">
        <h2>Successful Validation!</h2>
    </section>
{{ else }}
    {{# if errors }}
        <section class="errors">
            <ul>
                {{# each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}

    
    

    <form class="form-horizontal" action="/employee/employeedbinsert" method="post">
    }
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from being rich </p>
                        <button type="submit" name="Login" class="btn-login" value="Login" formaction="/employee/login"/>Login</button><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as a Professional</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" placeholder="Name *" name="e_fullname"/>
                                        </div>   
                                        <div class="form-group">
                                            <textarea class="form-control" id="address" placeholder="Enter Address *" name="e_address"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden"  selected disabled>Please select your Skill</option>
                                                <option name="e_Guitarist"> Guitarist</option>
                                                <option name="e_Vocalist"> Vocalist </option>
                                                <option name="e_Event_Organizers"> Event Organizers</option>
                                                <option name="e_Drummer"> Drummer</option>
                                                <option name="e_Photography">Photography</option>
                                                <option name="e_Makeup_Artist">Makeup Artist</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="e_email" id="email" placeholder="Your Email *" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="e_mobileno" id="mobileno" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>

                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline" id="gender" name="e_gender">Gender: 
                                                    <input type="radio" name="e_gender" id="male" value="male" >
                                                    <span> Male </span> 
                                                 
                                                    <input type="radio" name="e_gender" id="male" value="female">
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="e_pswd" class="form-control" id="password" placeholder="Password *" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="password" name="e_conf_pswd" placeholder="Confirm Password *"   />
                                        </div>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Register</button>
                                        <button type ="reset" class="btn btn-danger"><i class="fa fa-refresh" aria-hidden="true"></i> Reset</a></button>
                                    </div>
                                </div>
                             </div></div></div></div></div></form>
            {{/if}}